html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Aggiungi effetto hover per ogni ID */
#Umbria:hover,
#Campania:hover,
#Lazio:hover,
#Abruzzo:hover,
#Puglia:hover,
#Molise:hover,
#Calabria:hover,
#Basilicata:hover,
#Sicilia:hover,
#Sardegna:hover {
  transform: scale(1.5); /* Scala del 50% al passaggio del mouse */
  transition: transform 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}
