html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
.container {
  display: flex;
  gap: 2rem;
}

.map-container {
  flex: 1;
}

.info-container {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  min-width: 300px;
  color: white;
}

#region-title {
  color: white;
  margin-bottom: 1rem;
}

#region-description {
  line-height: 1.6;
  color: white;
}